
.vs/DotNetCoreMVCDemos/config/applicationhost.config
.vs/DotNetCoreMVCDemos/DesignTimeBuild/.dtbcache.v2
.vs/DotNetCoreMVCDemos/project-colors.json
.vs/DotNetCoreMVCDemos/v16/.suo
.vs/DotNetCoreMVCDemos/v17/.suo
.vs/DotNetCoreMVCDemos/config/applicationhost.config
DotNetCoreMVCDemos/wwwroot/lib/images/user/500/202107281214.jpeg
DotNetCoreMVCDemos/wwwroot/Documents/202157291244.jpeg
DotNetCoreMVCDemos/wwwroot/lib/images/user/500/202103281222.jpeg
DotNetCoreMVCDemos/wwwroot/Documents/202156291204.jpeg
